<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K2DQMXG');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148360710-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-148360710-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Download hand picked games, and save the time wasted, on looking for the right link for you, game linter.Editor's pick of the right games on the internet" />
    <meta name="keywords" content="Game-Linter games free, download free games, hand-picked" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/css/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1032102225919169",
            enable_page_level_ads: true
        });
    </script>
    <title>Game-Linter</title>
</head>

<body> <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2DQMXG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <nav class="navbar navbar-expand-lg static-top mb-5 shadow test">
        <div class="container"> <a class="navbar-brand color" href="/">
                <h3>Game-Linter</h3>
            </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
                    class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link" style="color: aliceblue" href="/request"><b>Not
                                finding what you what? Click here!</b> <span class="sr-only">(current)</span> </a> </li>
                    <li class="nav-item"> <a class="nav-link color" href="/help">Help!</a> </li>
                    <li class="nav-item"> <a class="nav-link color"
                            style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(0, 255, 255); text-decoration: none"
                            href="https://discord.gg/4cfGp5Q">| Join discord server |</a> </li>
                    <li><a class="nav-link"
                            style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(0, 255, 255); text-decoration: none"
                            href="https://blockchain.com/btc/payment_request?address=19axz8PMesRJiBqae4JZXS56M2zi8obRFA&amount=0.00011697&message=Donate 1$">
                            | Donate 1$ ❤️</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card border-0 shadow my-5 look ">
            <div class="card-body p-5 ">