<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148360710-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-148360710-1');
    </script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1032102225919169",
            enable_page_level_ads: true
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download hand picked <%=resp.title%> game for free cracked, and save Time " />
    <meta name="keywords" content="Game-Linter-<%=resp.title%>, download free games, hand-picked" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/css/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%=resp.title%></title>
</head>

<body style="background: url('<%=resp.backgroundimg%>') no-repeat center center fixed"> <noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-K2DQMXG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <nav class="navbar navbar-expand-lg static-top mb-5 shadow test">
        <div class="container"> <a class="navbar-brand color" href="/">
                <h3>Game-Linter</h3>
            </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
                    class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link" href="/request"><b>Not finding what you what? Click
                                here!</b> <span class="sr-only">(current)</span> </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card border-0 my-5"
            style="background-color: rgba(1, 1, 1, 0.5);color: aliceblue;border-radius: 10px">
            <div class="card-body p-5">
                <div class="lol"> <img style="border-radius: 20px; width: 323px; height: 433px"
                        src="<%=resp.thumbnail%>" alt="<%=resp.title%>"></div>
                <div class="lol top">
                    <ul>
                        <h2
                            style="text-decoration: underline;color : lightblue; margin-left: 100px;margin-bottom: 20px">
                            Scroll to bottom to download</h2>
                        <li class="a7em" style="margin-top: 10%">Size: <%=resp.size%> GBs</li><br>
                        <li class="a7em">Number of Files: <%=resp.files%></li><br>
                        <li class="a7em">Review: <%=resp.review%>% (according to users)</li><br>
                        <li class="a7em">Genre: <%=resp.genre%></li><br>
                        <li class="a7em">Info hash: <%=info%></li><a class="help" href="/request"><svg class="icon-svg"
                                style="width: 50px; top:-5px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <linearGradient id="myGradient" gradientTransform="rotate(90)">
                                        <stop offset="5%" stop-color="gold" />
                                        <stop offset="95%" stop-color="red" />
                                    </linearGradient>
                                </defs>
                                <circle cx="5" cy="5" r="4" fill="url('#myGradient')" />
                            </svg>
                            <h3 style="color: rgb(255, 255, 255); margin-top: 40px" class="icon-svg">Click here to
                                suggest games to add ^^</h3>
                        </a>
                    </ul>
                </div>
                <hr style="border: 1px solid pink">
                <h3 class="ml-5">Trailer for <%=resp.title%></h3> <iframe width="1010" height="616"
                    src="<%=resp.trailerlink%>" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div>
                    <div style="text-align: center">
                        <h2>Join the <a href="https://discord.gg/4cfGp5Q">discord Server</a></h2>
                    </div><button onclick="window.location.href='<%=resp.magnetlink%>'"
                        style="margin: 0 40%;width: 200px ;height: 50px;" type="button"
                        class="mt-5 btn btn-primary">Download now!</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>