<%- include('partials/header')%><div style="padding: 0" class="jumbotron">
    <h1 style="padding: 15px" class="display-4">Welcome!</h1>
    <p class="lead"><b style="color: gray; margin-left: 20px">Browse ONLY the best game torrents out there!</b> No more
        wasting time looking for the right link</p>
    <hr style="background-color: rgb(255, 0, 106); margin: 0 50px" class="">
    <h2 style="text-align: center; padding-top: 5px">Hand-Picked for the picky users</h2>
    <nav style="padding-bottom: 5px;" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                    href="/browse/<% if (currentpage !==1){%><%=currentpage-1%> <%}%>">Previous</a></li><li class="page-item"><a class="page-link" href="/browse/<%=currentpage +1%>">Next</a>
            </li>
        </ul>
    </nav>
</div><% if (a===1 && b===1){%> <h2 style="text-align: center">Latest adds</h2>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div style="margin-bottom: 20px; border-radius: 20px" class="carousel-inner">
        <div class="carousel-item active"> <a href="/games/<%=pics[0].title%>"> <img class="d-block w-100 h-40"
                    src="<%=pics[0].backgroundimg%>" alt="<%=pics[0].title%>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=pics[0].title%></h5>
                </div>
            </a> </div>
        <div class="carousel-item"> <a href="/games/<%=pics[1].title%>"> <img class="d-block w-100"
                    src="<%=pics[1].backgroundimg%>" alt="<%=pics[1].title%>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=pics[1].title%></h5>
                </div>
            </a> </div>
        <div class="carousel-item"> <a href="/games/<%=pics[2].title%>"> <img class="d-block w-100"
                    src="<%=pics[2].backgroundimg%>" alt="<%=pics[2].title%>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=pics[2].title%></h5>
                </div>
            </a> </div>
        <div class="carousel-item"> <a href="/games/<%=pics[3].title%>"> <img class="d-block w-100"
                    src="<%=pics[3].backgroundimg%>" alt="<%=pics[3].title%>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=pics[3].title%></h5>
                </div>
            </a> </div>
        <div class="carousel-item"> <a href="/games/<%=pics[4].title%>"> <img class="d-block w-100"
                    src="<%=pics[4].backgroundimg%>" alt="<%=pics[4].title%>">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=pics[4].title%></h5>
                </div>
            </a> </div>
    </div><a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span
            class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a
        class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span
            class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div><%}%><% if (a===1){%><form class="form-inline mb-4 ml-2"> <input style="width: 90%" class="form-control"
        type="search" name="q" placeholder="Search" aria-label="Search"> <button
        style="color: black; background-color: pink" class="btn btn-rounded btn-sm ml-4">Search</button></form>
<%}%> <%resp.forEach(element=>{%>


                    <div class="game-list">
                        <a href="/games/<%=element.title%>">
                            <img class="content" style="height: 325px" src="<%=element.thumbnail%>" alt="<%=element.title%>">
                            <div class="details">Size: <%=element.size%> GB</div>
                        </a>
                    </div>




<%});%><%- include('partials/footer') %>


























