<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>OOops!</title>
</head>

<body
    style="background-image: url('https://pmcvariety.files.wordpress.com/2014/10/pulp_fiction_20-years-later.jpg?w=1000')">
    <div class="jumbotron" style=" color: white;margin: 15% 20%; background-color:rgba(18, 182, 223, .5)">
        <ul>
            <li>Download a torrent client like : <a
                    href="http://download-hr.utorrent.com/track/stable/endpoint/utorrent/os/windows">
                    <h3 style="color: yellowgreen;">µTorrent</h3>
                </a></li>
            <li>Install, Click : <h2>Download now!</h2> in any game page</li>
            <li>Let download finish, Enjoy!</li>
        </ul>
        <hr class="my-4">
    </div>
</body>

</html>