body {
    background: url('/images/back5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}
::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

html {
    scroll-behavior: smooth
}

.look {
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    border-radius: 40px
}

.game-list {
    display: flex;
    flex-direction: column;
    float: left;
    width: 243px;
    height: 320px;
    background: linear-gradient(220.74deg, #150A96 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 43px;
    margin-right: 10px;
    margin-bottom: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details {
    visibility: hidden;
    transform: scaleY(0);
    transition: transform .5s;
}

.content {
    width: 100%;
    border-radius: 15px;
}

.game-list:hover {
    transition: transform .5s;
    transform: scale(1.2);
}

.game-list:hover .details {
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80%;
    background: rgba(0, 0, 0, .7);
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
    transform: scaleY(1)
}

.pagination {
    margin-left: 40%
}

.test {
    background-color: rgba(0, 0, 0, 0.658)
}

.color {
    color: pink;
    font-size: 16px;
    text-emphasis: bold;
    text-decoration: underline
}

.jumbotron {
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.63)
}

.a7em2 {
    text-align: center;
    padding: 10px 20px;
}