.lol {
    display: inline-block
}

.top {
    position: absolute
}

li.a7em {
    margin-left: 10px;
    list-style-type: disc;
    font-size: 20px;
    color: chartreuse
}

.icon-svg {
    display: inline-flex;
    align-self: center;
    top: .001em;
    position: relative
}

a.help {
    color: white
}